<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La liste des bg</title>
</head>
<body>

<h1>Liste des BG</h1>
<div>
    <form th:action="@{/AjoutPerso}" method="GET">
        <button type="submit" class="deletebtn">ajout</button>
    </form>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Perso</th>
            <th>Type</th>
            <th>PDV</th>
        </tr>
        <tr th:each="person: ${ListeDesPerso}">
            <td th:utext="${person.id}">...</td>
            <td th:utext="${person.nom}">...</td>
            <td th:utext="${person.type}">...</td>
            <td th:utext="${person.pdv}">...</td>
            <td >
                <form th:action="@{/PersoDelete/{id} (id=${person.id}) }" method="POST">
                    <button type="submit" class="deletebtn">Delete</button>
                </form>
                <form th:action="@{/PersoDetail/{id} (id=${person.id}) }" method="GET">
                    <button type="submit" class="deletebtn">Film mes pieds</button>
                </form>

            </td>
        </tr>

    </table>
</div>
<div>

</div>
</body>
</html>